h1 {
  padding-top: 60px;  
  color: hotpink;
}
h2 {
    color: hotpink;
}
h3 {
    color: hotpink;
}
img {
    width: 420px;
}

body{
    width: 250%;
    height: 300vh;
    background: linear-gradient(
      to top,
      skyblue 0%,
      rgb(209, 170, 209) 25%,
      mistyrose 50%,
      rgb(253, 225, 242) 100%
    );
  }

  hr.solid {
    border-top: 2px solid hotpink;
  }
  
  @media screen and (max-width: 400px) {
  }

nav {
  overflow: hidden;
  background-color: rgb(253, 225, 242);
  position: fixed;
  top: 0%;
  width: 100%;
  padding: 16px;
}
nav a {
  float: left;
  display: block;
  color: hotpink;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}