h1 {
    color: hotpink;
}
h2 {
    color: hotpink;
}
h3 {
    color: hotpink;
}
img {
    width: 420px;
}

body{
    width: 250%;
    height: 250vh;
    background: linear-gradient(
      to top,
      pink 0%,
      pink 25%,
      white 50%,
      white 100%
    );
  }

  hr.solid {
    border-top: 2px solid hotpink;
  }
  
  @media screen and (max-width: 400px) {
  }